<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user ? 'Editar ': 'Crear ' %> Usuario</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div id="title">
            <h1> Formulario <%= user ? 'Editar ': 'Crear ' %> Usuario </h1>
        </div>
        <div class="nav">
            <ul id="elementos"> 
                <li class="user-item">
                    <form action="<%= user ? '/update/' + user._id : '/store' %>" method="POST">
                        <div class="space-item">
                            <label id="name" class="Cname" for="name">Nombre:</label>
                            <input type="text" id="name" name="name" class="text" value="<%= user ? user.name : '' %>" required>
                        </div>
                        <div class="space-item">
                            <label id="email" class="Cemail" for="email">Correo:</label>
                            <input type="email" id="email" name="email" class="text" value="<%= user ? user.email : '' %>" required >
                        </div>
                        <div class="space-item">
                            <label id="age" class="Cage" for="age">Edad:</label>
                            <input type="number" id="age" name="age" class="text" value="<%= user ? user.age : '' %>" required >
                        </div>
                        <button id="button" class="button" type="submit" ><%= user ? 'Actualizar': 'Crear' %></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>