<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Básico</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div id="title">
            <h1>Usuarios</h1>
        </div>
        <div class="nav">
            <a class = "button" href="/create">+ Crear Usuario</a>
            <!-- Lita de Usuarios-->
            <input type="text" id="search" class="search" placeholder="Buscar usuario por nombre" onkeyup="filterUsers()">
            <ul id="elementos"> 
                <% users.forEach(user => {  %>  
                    <li class="user-item">
                        <div id="name" class="name">
                            <%= user.name %>
                        </div>
                        <div id="email" class="email">
                            <%= user.email %>
                        </div>
                        <div id="age" class="age">
                            <%= user.age %> años %>
                        </div>
                        <a href="/edit/<%= user._id %>" class="option">Edit</a>
                        <a href="/delete/<%= user._id %>" class="option">Eliminar</a>
                    </li>
                <% }) %>
            </ul>
            <script>
                function filterUsers() {
                    const searchInput = document.getElementById('search').value.toLowerCase();
                    const userItems = document.querySelectorAll('.user-item');
                    userItems.forEach(item => {
                        const userName = item.textContent.toLowerCase();
                        item.style.display = userName.includes(searchInput) ? '' : 'none';
                    });
                }
            </script>
        </div>
    </div>
</body>
</html>